################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/WebPage/CopilotIndices/17.14.1147.5054

/.vs/*